.spinner {
    position: absolute;
    margin: auto;
    animation: spinner 1.5s infinite linear;
    //transform-origin: -13px -13px;
}

@keyframes spinner {
    100% {
        transform: rotate(-360deg)
    }
}