@import '../../style/variables.scss';

.char {
    &__list {
        position: relative;
        padding: 70px 20px;
        background: rgb(36, 40, 47);
        height: 100%;
        box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    }

    &__grid {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(300px, 600px));
        gap: 20px;
    }

    &__card {
        margin: 10px;
        height: 100%;
        display: flex;
        overflow: hidden;
        background: rgb(60, 62, 68);
        border-radius: 7px;
        box-shadow: 0 0 15px rgba(0, 0, 0, .5);

    }

    &__img {
        flex: 1 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-item {
        flex: 2 1;
        padding: 10px;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        color: #fff;
        font-size: 16px;
        line-height: 28px;

        &__block {
            a {
                font-size: 18px;
                transition: .4s all;

                &:hover {
                    color: $second-color;
                }
            }
        }

        &__status {
            display: flex;
            align-items: center;

            i {
                margin-right: 10px;
                font-size: 12px;
            }

            .red {
                color: red;
            }

            .green {
                color: green;
            }

            .grey {
                color: rgb(158, 158, 158);
            }

        }

        &__name {
            display: block;

            h2 {
                font-size: 27px;
                font-weight: 900;
            }
        }

        &__label {
            color: rgb(158, 158, 158);
            font-weight: 500;
        }
    }

    &__bnt {
        margin: 50px auto;
    }
}

@media (max-width: 576px) {
    .char {
        &__list {
            padding: 20px;
        }

        &__img {

            img {
                height: 350px;
            }
        }

        &__card {
            flex-direction: column;
        }
    }
}