@import '../../style/variables.scss';

.header {
    position: relative;
    padding: 10px;
    display: flex;

    &__logo {
        width: 100%;
        height: 100%;
    }

    &__block {
        flex: 0 0 100%;
    }

    &__title {
        text-align: center;
        font-size: 5rem;
        font-weight: 900;
        color: $main-color;
        z-index: 1;
    }

    &__image {
        position: absolute;
        height: 100%;
        width: 100%;
        fill: rgb(245, 245, 245);
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
}