@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.button {
    display: block;
    padding: 7px 30px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    transition: .6s all;
    border: none;
    cursor: pointer;

    &:disabled {
        filter: grayscale(.5);
    }

    &__load {
        margin: 50px auto;
    }

    &:hover {
        background-color: $second-color;
        transform: scale(1.1);
    }

    &__random {
        position: absolute;
        min-width: 150px;
        bottom: 25px;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
        background: $main-color;
        color: #fff;

        &:hover {
            background-color: $second-color;
            transform: translateX(-50%) scale(1.1);
        }
    }

}